.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: relative;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #868e96; /* You can change this color to match your theme */
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
